.group {
    position: relative;
    margin: 45px 0;
}
.form-input {
    background: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    outline: none;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;
}
.innerLabel{
    position: absolute;
    top: 12px;
    font-size: 24px;
    transition: all .3s;
    color: grey;
}
.form-input:focus ~ .innerLabel{
    top: -5px;
    left: 0;
    font-size: 10px;
}
.shrink{
    top: -5px;
    left: 0;
    font-size: 10px;
}
.form-input:focus{
    border-bottom: 1px solid black;
}
input[type='password'] {
    letter-spacing: 0.3em;
}